In [15]:
import pandas as pd
df_art1 = pd.read_csv('articles1.csv', sep=',')
df_art2 = pd.read_csv('articles2.csv', sep=',')
df_art3 = pd.read_csv('articles3.csv', sep=',')

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,103459,151908,Alton Sterling’s son: ’Everyone needs to prote...,Guardian,Jessica Glenza,2016-07-13,2016.0,7.0,https://www.theguardian.com/us-news/2016/jul/1...,The son of a Louisiana man whose father was sh...
1,103460,151909,Shakespeare’s first four folios sell at auctio...,Guardian,NaN,2016-05-25,2016.0,5.0,https://www.theguardian.com/culture/2016/may/2...,Copies of William Shakespeare’s first four boo...
2,103461,151910,My grandmother’s death saved me from a life of...,Guardian,Robert Pendry,2016-10-31,2016.0,10.0,https://www.theguardian.com/commentisfree/2016...,"Debt: $20, 000, Source: College, credit cards,..."
3,103462,151911,I feared my life lacked meaning. Cancer pushed...,Guardian,Bradford Frost,2016-11-26,2016.0,11.0,https://www.theguardian.com/commentisfree/2016...,"It was late. I was drunk, nearing my 35th birt..."
4,103463,151912,Texas man serving life sentence innocent of do...,Guardian,NaN,2016-08-20,2016.0,8.0,https://www.theguardian.com/us-news/2016/aug/2...,A central Texas man serving a life sentence fo...
...,...,...,...,...,...,...,...,...,...,...
42566,146028,218078,An eavesdropping Uber driver saved his 16-year...,Washington Post,Avi Selk,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,Uber driver Keith Avila picked up a p...
42567,146029,218079,Plane carrying six people returning from a Cav...,Washington Post,Sarah Larimer,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,Crews on Friday continued to search L...
42568,146030,218080,After helping a fraction of homeowners expecte...,Washington Post,Renae Merle,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,When the Obama administration announced a...
42569,146031,218081,"Yes, this is real: Michigan just banned bannin...",Washington Post,Chelsea Harvey,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,This story has been updated. A new law in...
42570,146032,218082,What happened in Washington state after voters...,Washington Post,Christopher Ingraham,2016-12-29,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,The nation’s first recreational marijuana...

In [17]:
df_art1 = df_art1.drop(['author', 'date', 'year', 'month', 'url'], axis=1)
df_art2 = df_art2.drop(['author', 'date', 'year', 'month', 'url'], axis=1)
df_art3 = df_art3.drop(['author', 'date', 'year', 'month', 'url'], axis=1)

,Unnamed: 0,id,title,publication,content
0,103459,151908,Alton Sterling’s son: ’Everyone needs to prote...,Guardian,The son of a Louisiana man whose father was sh...
1,103460,151909,Shakespeare’s first four folios sell at auctio...,Guardian,Copies of William Shakespeare’s first four boo...
2,103461,151910,My grandmother’s death saved me from a life of...,Guardian,"Debt: $20, 000, Source: College, credit cards,..."
3,103462,151911,I feared my life lacked meaning. Cancer pushed...,Guardian,"It was late. I was drunk, nearing my 35th birt..."
4,103463,151912,Texas man serving life sentence innocent of do...,Guardian,A central Texas man serving a life sentence fo...
...,...,...,...,...,...
42566,146028,218078,An eavesdropping Uber driver saved his 16-year...,Washington Post,Uber driver Keith Avila picked up a p...
42567,146029,218079,Plane carrying six people returning from a Cav...,Washington Post,Crews on Friday continued to search L...
42568,146030,218080,After helping a fraction of homeowners expecte...,Washington Post,When the Obama administration announced a...
42569,146031,218081,"Yes, this is real: Michigan just banned bannin...",Washington Post,This story has been updated. A new law in...
42570,146032,218082,What happened in Washington state after voters...,Washington Post,The nation’s first recreational marijuana...

In [30]:
sets = [df_art1, df_art2, df_art3]
df_art123 = pd.concat(sets)

In [34]:
df_art123['publication'].value_counts()

publication
Breitbart              23781
New York Post          17493
NPR                    11992
CNN                    11488
Washington Post        11114
Reuters                10710
Guardian                8681
New York Times          7803
Atlantic                7179
Business Insider        6757
National Review         6203
Talking Points Memo     5214
Vox                     4947
Buzzfeed News           4854
Fox News                4354
Name: count, dtype: int64

In [36]:
max = 4000

df = df_art123.groupby('publication').head(max)

In [41]:
df = df[df['publication'] != 'Talking Points Memo']
df['publication'].value_counts()

publication
New York Times      4000
Breitbart           4000
CNN                 4000
Business Insider    4000
Atlantic            4000
Fox News            4000
Buzzfeed News       4000
National Review     4000
New York Post       4000
Guardian            4000
NPR                 4000
Reuters             4000
Vox                 4000
Washington Post     4000
Name: count, dtype: int64

In [46]:
df['political_bias'] = 'Other' 
 
df.loc[df['publication'] == 'New York Times', 'political_bias'] = (-2.2)
df.loc[df['publication'] == 'Breitbart', 'political_bias'] = 5
df.loc[df['publication'] == 'CNN', 'political_bias'] = (-1.3)
df.loc[df['publication'] == 'Business Insider', 'political_bias'] = (-2.6)
df.loc[df['publication'] == 'Atlantic', 'political_bias'] = (-4)
df.loc[df['publication'] == 'Fox News', 'political_bias'] = 3.2
df.loc[df['publication'] == 'Buzzfeed News', 'political_bias'] = (-4)
df.loc[df['publication'] == 'National Review', 'political_bias'] = 2.5
df.loc[df['publication'] == 'New York Post', 'political_bias'] = 1.8
df.loc[df['publication'] == 'Guardian', 'political_bias'] = (-2.4)
df.loc[df['publication'] == 'NPR', 'political_bias'] = (-2)
df.loc[df['publication'] == 'Reuters', 'political_bias'] = (-0.7)
df.loc[df['publication'] == 'Vox', 'political_bias'] = (-3.5)
df.loc[df['publication'] == 'Washington Post', 'political_bias'] = (-2.2)

/var/folders/nb/htkwyszn4r5f6kt62xm4ntcm0000gn/T/ipykernel_85414/2693468291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['polit'] = 'Other'

In [49]:
df.to_csv('articles.csv', index=False, sep=',')